<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/dist/css/output.css') }}">
  </head>
  <nav class="flex justify-start bg-slippi-green text-background-dark text-3xl font-regular pt-2 pb-2 pl-5 space-x-10">
    <a href="{{ url_for('database_blueprint.get_leaderboard_website_fast') }}">Leaderboard</a>
    <a href="{{ url_for('hello_world') }}">About</a>
  </nav>

  <body class="bg-background-dark text-white">
    <div class="container mx-auto">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
